.conversation-list-container {
  width: 250px;
  border-right: 1px solid #ececec;
}

.conversation-items-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  flex: 1;
}

.conversation-item {
  font-size: 18px;
  font-family: "Roboto";
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.conversation-item:hover {
  background-color: #ececec;
}

.conversation-item.active {
  background-color: #ff8989;
  color: white;
}

.title-bar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ececec;
}

.title-bar-txt-title {
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: bold;
}

.user-list-container {
  width: 250px;
  border-left: 1px solid #ececec;
  padding: 10px 20px;
  font-family: "Roboto";
}

.user-list-container ul {
  list-style-type: none;
  padding: 0px;
}
.user-list-container li {
  padding: 5px 0px;
  cursor: pointer;
}

.user-list-container .add-user-input {
  background-color: #f1f1f1;
  border-radius: 6px;
  padding: 10px 10px;
  border: 0px;
  color: #737373;
  width: 100%;
  box-sizing: border-box;
}

.composer-container {
  border-top: 1px solid #ececec;
  padding: 10px 20px;
}

.composer-container form {
  padding: 5px 7px;
  background-color: #ececec;
  border-radius: 50px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.composer-container input {
  border: 0px;
  background-color: transparent;
  color: #222222;
  flex: 1;
  outline: none;
}

.composer-container button {
  background-color: transparent;
  border: 0px;
}

.message-list-container {
  padding: 0px 20px;
}
